<div class="professorDetails">
  <h2>
    {{lastName}}, {{firstName}}
  </h2>

  <p class="error">{{error}}</p>

  <div class="professor-results-header">
    <h3>{{overallRating}} Overall Rating</h3>
    <h3>{{averageDifficulty}} Average Difficulty</h3>
    <h3>{{numberOfReviews}} Reviews</h3>
    <a href="/schools/{{schoolId}}/professors/{{professorId}}/createReview">Add a review!</a>
  </div>
  <ul class="list-group">
    {{#each reviews}}
    <li class="list-group-item">
      <span class="date">{{this.date}}</span>

      <span class="rating">Rating: {{this.rating}}</span>

      <span class="difficulty">Difficulty: {{this.difficulty}}</span>

      <span class="course">Course: {{this.course}}</span>

      <span class="review">Review: {{this.review}}</span>

      <div class="thumbs-up-down">
        <form method="POST" action="/schools/{{../schoolId}}/professors/{{../professorId}}/{{this._id}}/thumbs-up">
          <span>{{this.thumbsUp.length}}</span><input id="thumbsUpBtn" type="image" src="/public/images/thumbsup.png" should-disable="{{this.disableThumbsUp}}">
        </form>

        <form method="POST" action="/schools/{{../schoolId}}/professors/{{../professorId}}/{{this._id}}/thumbs-down">
          <span>{{this.thumbsDown.length}}</span><input id="thumbsDownBtn" type="image" src="/public/images/thumbsdown.png" should-disable="{{this.disableThumbsDown}}">
        </form>
      </div>

      {{#each comments}}
      <ul>
        <li class="list-group-item">
          <span class="commentDate">{{this.date}}</span>
          <span class="comment">{{this.text}}</span>
        </li>
      </ul>
      {{/each}}
      <label for="commentsField">Comments on this review:</label>
      <form method="POST" action="/schools/{{../schoolId}}/professors/{{../professorId}}/{{this._id}}">
      <textarea id="commentsField" type="text" name="commentsField" placeholder="Comment" required></textarea>
      <button id="commentsSubmitBtn" class="btn btn-primary" type="submit">Submit</button>
      </form>
    </li>
    {{/each}}
  </ul>

</div>

<script src="/public/js/professor-details.js"></script>
