<div id="newReviewTexts">
    <h1 id="newReviewWelcome">Create a Review</h1>
    <br>
    <h2 id="newReviewPrompt">Please fill out the review below and click Post.</h2>
</div>
<div id="newReviewFormDiv">
    <form method="POST" id="newReviewForm" action="/schools/{{schoolId}}/professors/{{professorId}}/createReview">
        <div class="form-group">
            <label for="reviewRatingBox">Please select your rating for the professor (1-5 scale where 5 is excellent and 0 is poor)</label>
            <input type="number" name="reviewRating" id="reviewRatingBox" placeholder="Rating of the Professor"
                class="form-control" min="1" max="5" step="0.1" required value="{{rating}}">
        </div>

        <div class="form-group">
            <label for="reviewDifficultyBox">Please select your difficulty rating for the professor (1-5 scale where 5 is hard and 0 is easy)</label>
            <input type="number" name="reviewDifficulty" id="reviewDifficultyBox" placeholder="Difficulty Rating of the Professor"
                class="form-control" min="1" max="5" step="0.1" required value="{{difficulty}}">
        </div>

        <div class="form-group">
            <label for="courseNameBox">Please enter the name of the course</label>
            <input type="text" name="courseName" id="courseNameBox" placeholder="Course Name"
                class="form-control" required value="{{course}}">
        </div>

        <div class="form-group">
            <label for="reviewTextBox">Please enter your review</label>
            <textarea type="text" name="reviewText" id="reviewTextBox" placeholder="Review"
                class="form-control" required value="{{review}}"></textarea>
        </div>

        <button id="newReviewSubmitBtn" type="submit" class="btn btn-primary">Post</button>
        <p class="error">
            {{error}}
        </p>
    </form>
</div>